<!-- Thymeleaf Namespace -->

<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../bootstrap.min.css">

</head>
<body>

<div th:replace="navbar :: navbar"></div>

<script src="../../jquery-3.3.1.slim.min.js"></script>
<script src="../../popper.min.js"></script>
<script src="../../bootstrap.min.js"></script>
</body>
</html>