<!-- Thymeleaf Namespace -->

<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../bootstrap.min.css">
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <!--/*@thymesVar id="loginForm" type="com.hotel.forms.LoginForm"*/-->
            <form th:action="@{/login}" th:object="${loginForm}" method="POST">
                <div class="form-group">
                    <label for="test">Логин:</label>
                    <input class="form-control" id="test" th:field="*{login}" required/><br/>
                </div>
                <div class="form-group">
                    <label for="pass">Пароль:</label>
                    <input class="form-control" id="pass" type="password" th:field="*{password}" required/><br/>
                </div>
                <input class="btn btn-outline-info" type="submit" value="Войти"/>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<script src="../../jquery-3.3.1.slim.min.js"></script>
<script src="../../popper.min.js"></script>
<script src="../../bootstrap.min.js"></script>
</body>
</html>