<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="buildings_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Описание</th>
            <th scope="col">Звездность</th>
            <th scope="col">Количество этажей</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="building" type="com.hotel.models.Building"*/-->
        <!--/*@thymesVar id="buildings" type="java.util.List<com.hotel.models.Building>"*/-->
        <tr th:each="building : ${buildings}">
            <th scope="row" th:utext="${building.id}">...</th>
            <td th:utext="${building.description}">...</td>
            <td th:utext="${building.stars}">...</td>
            <td>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Количество одноместных номеров</th>
                        <th scope="col">Количество двухместных номеров</th>
                        <th scope="col">Количество трехместных номеров</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="floor : ${building.Floors}">
                        <td th:utext="${floor.id}">...</td>
                        <td th:utext="${floor.oneRooms}">...</td>
                        <td th:utext="${floor.twoRooms}">...</td>
                        <td th:utext="${floor.threeRooms}">...</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*@thymesVar id="buildingForm" type="com.hotel.forms.BuildingForm"*/-->
<div th:fragment="building_add_form">
    <form th:action="@{/add_building}" th:object="${buildingForm}" method="POST">
        <div class="form-group">
            <label for="description">Описание здания</label>
            <input class="form-control" id="description" th:field="*{description}" required/><br/>
        </div>
        <div class="form-group">
            <label for="stars">Звездность</label>
            <select th:field="*{stars}" class="form-control" id="stars">
                <option th:value="1" th:text="${'1 звезда'}">
                <option th:each="i : ${#numbers.sequence(2, 4)}" th:value="${i}" th:text="${i}+' звезды'">
                <option th:value="5" th:text="${'5 звезд'}">
                </option>
            </select>
        </div><!--
        <div class="form-group">
            <label for="floors">Количество этажей</label>
            <input class="form-control" id="floors" type="number" min="1" placeholder="1" th:field="*{floors}"/><br/>
        </div>-->
        <input class="btn btn-outline-info" type="submit" value="Добавить"/>
    </form>
</div>

<!--/*@thymesVar id="user" type="com.hotel.models.User"*/-->
<div th:fragment="sidebar">
    <div class="btn-group-vertical btn-group-lg">
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/buildings">Список зданий</a>
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/add_building">Добавить здание</a>
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/add_flour">Добавить этаж</a>
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/services">Список сервисов</a>
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/add_service">Добавить сервис</a>
        <a th:if="${user.privilegies == 3}" type="button" class="btn btn-outline-info" href="/organizations">Организации</a>
        <a th:if="${user.privilegies == 2}" type="button" class="btn btn-outline-info" href="/service_policy">Политика сервиса</a>
        <a th:if="${user.privilegies == 2}" type="button" class="btn btn-outline-info" href="/add_flour">Добавить этаж в обсуживание</a>
        <a type="button" class="btn btn-outline-info" href="/money_become">Прибыль</a>
        <a type="button" class="btn btn-outline-info" href="/money_spent">Траты</a>
        <a type="button" class="btn btn-outline-info" href="/tickets">Покупки</a>
    </div>
</div>

<div th:fragment="services_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Описание</th>
            <th scope="col">Базовая стоимость</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="service" type="com.hotel.models.Service"*/-->
        <!--/*@thymesVar id="services" type="java.util.List<com.hotel.models.Service>"*/-->
        <tr th:each="service : ${services}">
            <th scope="row" th:utext="${service.id}">...</th>
            <td th:utext="${service.description}">...</td>
            <td th:utext="${service.basicPrice}">...</td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*@thymesVar id="serviceForm" type="com.hotel.forms.ServiceForm"*/-->
<div th:fragment="service_add_form">
    <form th:action="@{/add_service}" th:object="${serviceForm}" method="POST">
        <div class="form-group">
            <label for="description">Описание сервиса</label>
            <input class="form-control" id="description" th:field="*{description}" required/><br/>
        </div>
        <div class="form-group">
            <label for="floors">Базовая стоимость</label>
            <input class="form-control" id="floors" type="number" min="1" placeholder="1" th:field="*{basicPrice}"/><br/>
        </div>
        <input class="btn btn-outline-info" type="submit" value="Добавить"/>
    </form>
</div>

<div th:fragment="organizations_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Сервис</th>
            <th scope="col">Пользователь</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="organizations" type="java.util.Map<com.hotel.models.Organization, com.hotel.utils.AuthUtils.Tuple<com.hotel.models.Service, com.hotel.models.User>>"*/-->
        <tr th:each="organization : ${organizations.entrySet()}">
            <th scope="row" th:utext="${organization.getKey().id}">...</th>
            <td th:utext="${organization.getValue().x.description}">...</td>
            <td th:utext="${organization.getValue().y.firstName.concat(' '+organization.getValue().y.lastName)}">...</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="floor_manage_admin">
    <!--/*@thymesVar id="floorAdminForm" type="com.hotel.forms.FloorAdminForm"*/-->
    <form th:action="@{/add_flour_admin}" th:object="${floorAdminForm}" method="POST">
        <div class="form-group">
            <label for="buildingId">Выберите здание</label>
            <select th:field="*{buildingId}" class="form-control" id="buildingId">
                <!--/*@thymesVar id="buildings_form" type="java.util.List<com.hotel.models.Building>"*/-->
                <option th:each="building : ${buildings_form}" th:value="${building.id}" th:text="${building.description}">
                </option>
            </select>
            <div class="form-group">
                <label for="one_rooms">Количество однокомнатных номеров</label>
                <input class="form-control" id="one_rooms" type="number" min="1" placeholder="1" th:field="*{oneRooms}" required/><br/>
            </div>
            <div class="form-group">
            <label for="two_rooms">Количество двухкомнатных номеров</label>
                <input class="form-control" id="two_rooms" type="number" min="0" placeholder="1"
                       th:field="*{twoRooms}" required/><br/>
            </div>
            <div class="form-group">
                <label for="three_rooms">Количество трехкомнатных номеров</label>
                <input class="form-control" id="three_rooms" type="number" min="0" placeholder="1"
                       th:field="*{threeRooms}" required/><br/>
            </div>
        </div>
        <input class="btn btn-outline-info" type="submit" value="Добавить этаж"/>
    </form>
</div>

<div th:fragment="floor_manage_organization">
    <!--/*@thymesVar id="floorOrganizationForm" type="com.hotel.forms.FloorOrganizationForm"*/-->
    <form th:action="@{/add_flour_organization}" th:object="${floorOrganizationForm}" method="POST">
        <div class="form-group">
            <label for="floorId">Выберите этаж для добавления сервиса</label>
            <select th:field="*{floorId}" class="form-control" id="floorId">
                <!--/*@thymesVar id="floors_form" type="java.util.Map<com.hotel.models.Building, java.util.List<com.hotel.models.Floor>>"*/-->
                <div th:each="building_with_floors : ${floors_form}">
                <option th:each="floor : ${building_with_floors.getValue()}" th:value="${floor.id}"
                        th:text="${building_with_floors.getKey().description}+', этаж номер '+${floor.id}">
                </option>
                </div>
            </select>

            <div class="form-group">
                <label for="mult">Множитель стоимости</label>
                <input class="form-control" id="mult" type="number" min="1" placeholder="1" th:field="*{multipler}"/><br/>
            </div>
        </div>
        <input class="btn btn-outline-info" type="submit" value="Добавить этаж в обслуживание"/>
    </form>
</div>

<div th:fragment="service_policy">
    <!--/*@thymesVar id="servicePolicyForm" type="com.hotel.forms.ServicePolicyForm"*/-->
    <!--/*@thymesVar id="serviceId" type="java.lang.Integer"*/-->
    <form th:action="@{/service_policy}" th:object="${servicePolicyForm}" method="POST">
        <div class="form-group">
            <label for="serviceId">Выберите сервис</label>
            <select th:field="*{serviceId}" class="form-control" id="serviceId">
                <!--/*@thymesVar id="services_form" type="java.util.Map<com.hotel.models.Service, java.lang.Boolean>"*/-->
                    <option th:each="service : ${services_form.entrySet()}" th:value="${service.getKey().id}"
                            th:text="${service.getKey().description}"
                            th:selected="${service.getValue()}">
                    </option>
            </select>
        </div>
        <input class="btn btn-outline-info" type="submit" value="Изменить сервис"/>
    </form>
</div>

<div th:fragment="floors_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id Этажа</th>
            <th scope="col">id Здания</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="floors" type="java.util.List<com.hotel.models.Floor>"*/-->
        <tr th:each="floor : ${floors}">
            <th scope="row" th:utext="${floor.id}">...</th>
            <td th:utext="${floor.buildingId}">...</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>