<!-- Thymeleaf Namespace -->

<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель управления</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../bootstrap.min.css">

</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="container-fluid">
    <div th:if="${buildings != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-8">
            <div th:replace="manageTemplates :: buildings_table"></div>
        </div>
        <div class="col-2"></div>
    </div>
    <div th:if="${buildingForm != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <div th:replace="manageTemplates :: building_add_form"></div>
        </div>
        <div class="col-5"></div>
    </div>

    <div th:if="${services != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-8">
            <div th:replace="manageTemplates :: services_table"></div>
        </div>
        <div class="col-2"></div>
    </div>
    <div th:if="${serviceForm != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <div th:replace="manageTemplates :: service_add_form"></div>
        </div>
        <div class="col-5"></div>
    </div>

    <div th:if="${organizations != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-8">
            <div th:replace="manageTemplates :: organizations_table"></div>
        </div>
        <div class="col-2"></div>
    </div>

    <div th:if="${floorOrganizationForm != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <div th:replace="manageTemplates :: floor_manage_organization"></div>
        </div>
        <div class="col-5"></div>
    </div>

    <div th:if="${floorAdminForm != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <div th:replace="manageTemplates :: floor_manage_admin"></div>
        </div>
        <div class="col-5"></div>
    </div>

    <div th:if="${servicePolicyForm != null}" class="row">
        <div class="col-2">
            <!--<div th:replace="manageTemplates :: sidebar"></div>-->
        </div>
        <div class="col-3"></div>
        <div class="col-2">
            <div th:replace="manageTemplates :: service_policy"></div>
        </div>
        <div class="col-5"></div>
    </div>
</div>

<script src="../../jquery-3.3.1.slim.min.js"></script>
<script src="../../popper.min.js"></script>
<script src="../../bootstrap.min.js"></script>
</body>
</html>